@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;800&display=swap");

@font-face {
  font-family: "Butler";
  src: url(/src/fonts/Butler_Ultra_Light.otf), format("otf");
  font-weight: 300;
}

@font-face {
  font-family: "Butler";
  src: url(/src/fonts/Butler_Light.otf) format("otf");
  font-weight: 400;
}
@font-face {
  font-family: "Butler";
  src: url(/src/fonts/Butler_Regular.otf), format("otf");
  font-weight: 500;
}
@font-face {
  font-family: "Butler";
  src: url(/src/fonts/Butler_Medium.otf), format("otf");
  font-weight: 600;
}
@font-face {
  font-family: "Butler";
  src: url(/src/fonts/Butler_Bold.otf), format("otf");
  font-weight: 700;
}
@font-face {
  font-family: "Butler";
  src: url(/src/fonts/Butler_ExtraBold.otf), format("otf");
  font-weight: 800;
}
@font-face {
  font-family: "Butler";
  src: url(/src/fonts/Butler_Black.otf), format("otf");
  font-weight: 900;
}

/* MOBILE FONTFACE */

@font-face {
  font-family: "Butler";
  src: url(/src/fonts/Butler_Ultra_Light.woff), format("woff");
  font-weight: 300;
}

@font-face {
  font-family: "Butler";
  src: url(/src/fonts/Butler_Light.woff) format("woff");
  font-weight: 400;
}
@font-face {
  font-family: "Butler";
  src: url(/src/fonts/Butler_Regular.woff), format("woff");
  font-weight: 500;
}
@font-face {
  font-family: "Butler";
  src: url(/src/fonts/Butler_Medium.woff), format("woff");
  font-weight: 600;
}
@font-face {
  font-family: "Butler";
  src: url(/src/fonts/Butler_Bold.woff), format("woff");
  font-weight: 700;
}
@font-face {
  font-family: "Butler";
  src: url(/src/fonts/Butler_ExtraBold.woff), format("woff");
  font-weight: 800;
}
@font-face {
  font-family: "Butler";
  src: url(/src/fonts/Butler_Black.woff), format("woff");
  font-weight: 900;
}

/* MOBILE FONTFACE */

.navbar-toggler {
  color: white;
}

.navbar-dark .navbar-nav .nav-link {
  color: white;
}

* {
  padding: 0;
  margin: 0;
  font-family: "Butler", serif;
  color: #e4e4e4;
  font-size: 24px;
  font-weight: 100;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently */
}

body {
  animation: fadeInAnimation ease 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.nav-desktop-item {
  margin: 0.6rem;
}

a {
  color: white;
  text-decoration: none;
  font-weight: 400;
  transition: 0.5s;
}

#postSectionScroll {
  transition: 1s;
}
.about-link {
  font-size: 2.5rem;
  border-bottom: 1px solid rgb(255, 255, 255);
  padding-bottom: 0.5px;
}

.about-link:hover {
  color: #c2ff1b;
  border-bottom: 1px solid #c2ff1b;
}

h6 {
  transform: rotate(-90deg);
  animation: blinker 1s linear infinite;
}

a:hover {
  color: #c2ff1b;
}

.social-icon {
  transition: 0.5s;
}

.social-icon:hover {
  transform: translateY(9.9rem);
}

body {
  background-color: #0b0b0b;
}

.wrap {
  animation: blinker 1s linear infinite;
}

.logo {
  width: 45%;
}
/* HOMEPAGE */

.main-display-font {
  font-weight: 400;
  overflow: visible;
  transition: 1.5s;
}
.typewrite {
  font-size: 2.5rem;
}

.wrap {
  font-size: 2.5rem;
  font-weight: 400;
}

.nav-link {
  font-size: 16px;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.center {
  text-align: center;
}

.main-heading-mobile {
  margin-bottom: 45px;
}

.mobile-heading {
  font-size: 21px;
}

.ham-menu {
  filter: invert(1);
}

#offcanvasRightLabel {
  color: #0b0b0b;
  font-weight: 600;
}

.ham-menu-container {
  margin-bottom: 25px;
}

.nav-item {
  color: #0b0b0b;
  font-weight: 600;
  font-size: 48px;
}

ul {
  list-style-type: none;
}

.asset-card-bg {
  filter: saturate(0) brightness(0.3);
  transition: 0.3s;
  border-radius: 25px;
}

.asset-column {
  margin: 0;
}

.asset-post:hover > .asset-card-bg {
  filter: saturate(1);
}
.asset-post:hover > .card-title {
  display: none;
}

.bg-dark {
  background-color: #0b0b0b;
  border-radius: 25px;
}

.explore-section {
  padding: 0;
}

.asset-post {
  width: 14.6rem;
  height: 14.6rem;
  margin: 0;
}

.li-icon {
  filter: invert(1);
}

.card-img-index {
  width: 14.6rem;
  height: 14.6rem;
}

.work-section-heading {
  font-size: 48px;
  transform: translateY(3rem);
  text-align: center;
  margin-bottom: 15px;
  z-index: 25;
}

.btn-outline-primary {
  margin-top: 25px;
  color: white;
  border-color: #c2ff1b;
  font-weight: 600;
  margin-bottom: 25px;
}

.btn-outline-primary:active,
.btn-outline-primary:focus,
.btn-outline-primary:hover {
  color: #1b1b1b;
  border-color: #c2ff1b;
  background-color: #c2ff1b;
}

#aboutScrollContent {
  opacity: 1;
  transition: opacity 0.5s;
}
.hidden {
  opacity: 0 !important;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .navigator-bar {
    display: none;
  }
  .desktop {
    display: none;
  }
  .wrap {
    font-size: 21px;
  }
  .about-link {
    text-decoration: 1px #c2ff1b solid;
  }
}

.contact-mobile-cont {
  transform: translateY(7rem);
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .navigator-bar {
    display: none;
  }
  .desktop {
    display: none;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .navbar {
    display: flex;
  }
  * {
    overflow: hidden;
  }
  .navbar {
    display: none;
  }
  .navigator-bar {
    display: block;
  }

  .social-icon {
    height: 30px;
  }

  .col {
    height: 100vh;
  }
  .main-content-home {
    display: flex;
    width: 49.3333%;
    transform: translateX(-40%);
    justify-content: left;
    align-items: center;
  }

  .navigator {
    width: 17.33%;
  }

  .logo-container {
    display: flex;
    height: 33.3333%;
    align-items: flex-start;
    justify-content: right;
    padding-top: 25px;
  }
  .nav-bar-desktop-container {
    display: flex;
    align-items: center;
    justify-content: right;
    text-align: right;
    height: 33.3333%;
  }
  .social-icons-container {
    display: flex;
    justify-content: right;
    padding-bottom: 25px;
  }

  .social-icon {
    transform: translateY(10rem);
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .mobile {
    display: none;
  }
  .desktop {
    display: flex;
  }
  .col {
    height: 100vh;
  }
  .main-content-home {
    display: flex;
    width: 49.3333%;
    transform: translateX(-40%);
    justify-content: left;
    align-items: center;
  }

  .navigator {
    width: 17.33%;
  }

  .logo-container {
    display: flex;
    height: 33.3333%;
    align-items: flex-start;
    justify-content: right;
    padding-top: 25px;
  }
  .nav-bar-desktop-container {
    display: flex;
    align-items: center;
    justify-content: right;
    text-align: right;
    height: 33.3333%;
  }
  .social-icons-container {
    display: flex;
    justify-content: right;
    padding-bottom: 25px;
  }

  .social-icon {
    transform: translateY(10rem);
  }
}

.active-link {
  color: #c2ff1b;
}

@media only screen and (max-width: 1432px) {
  .social-icon {
    transform: translateX(-0.7rem) translateY(10rem);
  }
}

@media only screen and (max-width: 1557px) {
  .contact-display-font {
    font-size: 45px;
  }
}

@media only screen and (min-width: 1201px) {
  #loading {
    height: 100vh;
  }
}

@media only screen and (max-width: 1200px) {
  * {
    overflow: hidden;
  }

  #loading {
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    background-color: #0b0b0b;
    transition: visibility 0s, opacity 0.5s linear;
    opacity: 1;
    overflow: hidden;
  }
}
@media only screen and (max-height: 845px) {
  .social-icons-container {
    transform: translateY(-2rem);
  }
  .icon-href {
    transform: translateY(-2rem);
  }
}

@media only screen and (max-height: 699px) {
  .social-icons-container {
    transform: translateY(-4rem);
  }
  .icon-href {
    transform: translateY(-4rem);
  }
}
@media only screen and (max-height: 552px) {
  .social-icons-container {
    transform: translateY(-6rem);
  }
  .icon-href {
    transform: translateY(-6rem);
  }
}

/* KEYFRAMES */
@keyframes blinker {
  50% {
    border-color: rgba(255, 255, 255, 0);
  }
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#loading {
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100vw;
  background-color: #0b0b0b;
  transition: visibility 0s, opacity 0.5s linear;
  opacity: 1;
}

.main-content-mobile-home::-webkit-scrollbar {
  display: none;
}

.mobile-text {
  font-family: "Montserrat", sans-serif;
  font-size: 22px;
}

.mobile-nav-ul {
  padding-left: 0;
  margin: 25px;
}

.nav-mobile-item {
  font-size: 16px;
}

.mobile-nav-container {
  position: fixed;
  top: 38%;
  text-align: right;
}

.name-container {
  margin: 0;
  padding: 0;
}

.mobile-nav-heading-2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 12px;
  color: #919191;
  margin: 0;
}

.mobile-nav-heading {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  margin-top: 14px;
  margin-bottom: 0;
}

.logo-mobile {
  height: 128px;
  padding-top: 13px;
}

@media only screen and (max-width: 371px) {
  .mobile-nav-heading {
    font-size: 11px;
  }
  .mobile-nav-heading-2 {
    font-size: 9px;
  }
  .logo-mobile {
    padding-top: 0;
    height: 64px;
  }
}

.description-mobile {
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  line-height: 1.4;
  position: fixed;
  top: 35%;
  text-align: left;
}

.description-mobile-about {
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  line-height: 1.4;
  position: fixed;
  top: 27%;
  text-align: left;
}

.description-mobile-contact {
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  line-height: 1.4;
  position: fixed;
  top: 45.7%;
  text-align: left;
}

.description-mobile-portfolio {
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  line-height: 1.4;
  position: fixed;
  top: 44.5%;
  text-align: left;
}

.main-content-mobile-home {
  margin: 0;
  padding: 0;
}
.main-content-mobile-wip {
  margin: 0;
  padding: 0;
}

.icon-mobile {
  height: 24px;
  margin: 8px;
}

.social-icons-mobile {
  margin-top: 77vh;
}

@media only screen and (max-height: 792px) and (min-width: 372px) and (max-width: 1200px) {
  .social-icons-mobile {
    margin-top: 67vh;
  }
}

.mail-href-mobile {
  font-size: 14px;
}
